*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    
}
nav{
    width:100%;
    height: 6%;
    padding: 1%;
    background-color:transparent;
    position: fixed;
}
a{
    text-decoration: none;
}
nav a{
    margin-top: 15px;
    color: black;
    font-size: 1.8vw;
    font-weight: bolder;
}
.logo{
    margin-left:2%;
    margin-right: 56%;
    font-weight: bolder;
    color: rgb(0, 176, 245);
    background-color: rgba(255, 255, 255, 0.76);
}
.links{
    margin-right: 2%;
    font-weight: 500;
    color: white;
}
.home img{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.home p{
    margin-top:1%;
}
.img-h1{    
    font-size: 4.6vw;
}
.img-p{
    font-size:2.0vw;
    background: transparent;
    color:white;
}
.footer{
    margin: 0;
    padding: 0;
}
.footer p{
    color: white;
    padding: 1.3%;
    font-size: 18px;
    background-color: #444444;
    margin-top: -2PX;
    font-family: Arial, Helvetica, sans-serif;
}
.opacity{
    opacity: 1;
}
.company-nav{
    background-color: #659dbd;
}
.company-nav .logo{
    background-color: transparent;
    color: white;
}
body{
    background-color: #fffaf3;
}
